
body{
  background-color: #eeeee4;

}

body{
  background-color: #eeeee4;

}

.menu_top {width: 90%;height: 60px;}

.menu_top img {float: left;height: 40px;position: relative;
top:20px;left:20px;}
.menu.main-menu.linkMenu {text-decoration: none;
margin: 30px 8px 0px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;
position: relative;color:#8a1538;left: 50%;top: 30px;}

  
.img-logo{
  width: 60px; 
  height: 100px;
}

.section-banner-home

{width: 100%;height: 500px;padding: 50px;margin: 30px auto; background-color: #eeeee4;}

.section-banner-home img {height: 400px;}
.section-banner-home .texto-banner {margin-top: 30px;
font-size: 22px;}

.section-banner-home .texto-banner h1 {font-size: 30px;width: 60%;font-weight: 500;
padding-bottom:20px; color:#8a1538}

.section-banner-home .texto-banner p {font-size: 15px;margin-bottom: 20px; color:#8a1538}
.section-banner-home .texto-banner a {color: #8a1538;text-decoration: none;
background: #eeeee4;padding: 4px 14px;font-size: 15px;}


*{
padding: 0;
margin: 0;
outline: none;
font-family: 'Roboto', sans-serif;
}


h2{
  color:#8a1538;
  text-align: center;
}
.footer{
  text-align: center;
  color: #ffffff;
  font-size: 0.75rem;
  position:absolute;
  bottom: 2rem;
  width:100%;
}
.footer a{
  text-decoration: none;
  color: #ffffff;
}

.carousel-item{
  position: relative;
  width: 200px; 
height: 300px;
transition: 3s; */
}

  


/* configuração navbar menu */


h1 {
  color: #8a1538;
  text-align: center;
}

h2 {
  color: #8a1538;
  text-align: center;
}

nav#menu {
  margin-top: 50px;
  background: #eeeee4;
  text-align: center;
  height: 50px;
  width: 100%;
}

nav#menu ul {
  padding: 0;
  background: #eeeee4;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
}

nav#menu ul li {
  float: left;
  padding: 0 20px;
  background: #eeeee4;
  list-style: none;
  margin-right: 5px;
  line-height: 50px;
  height: 50px;
  }
  


nav#menu ul li:nth-child(1) {
margin-left: 5px;
}

nav#menu ul li.active {
background: #eeeee4;
}

nav#menu ul li a {
color: #8a1538;
text-decoration: none;
font-size: 1.3em;
}

nav#menu h1#sitename {
font-size: 1.2em;
line-height: 50px;
margin: 0;
position: absolute;
left: 0.5em;
color: #8a1538;
opacity: 0;

/*
 * Same thing here as with the menu items.
 * This element will be animated into its
 * alt. state with the transition property
 */
transition: opacity 0.1s ease-in-out;
}
/* video */
.video{
  background-color: #eeeee4;
  
}



.rodape{
  background-color: #eeeee4;
  color: #8a1538;
}

h4{
  color: #8a1538;
  margin: 2cm;
  border: solid;
}

p{
  font-family: 'Alumni Sans Collegiate One', sans-serif;
  margin: 2cm;
  color: #8a1538;
  }

  
#button{
  display:list-item;
  background-color: #eeeee4;
  color: #8a1538;
  border:solid #8a1538; 
  
  
  
}